{# Navbar #}
{%
  set navbar_classes = [
  'navbar',
  ]
%}
<header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
  {% if not navbar_attributes.hasClass('container') %}
  <nav class="{{ container }}">
  {% endif %}
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {%
        set header_classes = [
          'list-unstyled',
          'list-inline',
        ]
      %}
      {% include 'molecules-links.html' with {
        'links': header_links,
        'attributes': header_attributes.addClass(header_classes),
      } only %}
    </div>

    <div id="navbar-collapse" class="collapse navbar-collapse">
      {%
        set menu_classes = [
          "nav",
          "navbar-nav",
        ]
      %}
      {% include 'molecules-links.html' with {
        'links': menu_links,
        'attributes': menu_attributes.addClass(menu_classes),
      } only %}

			{%
			set languages_classes = [
			"pull-right",
			]
			%}
			{% include 'molecules-block-language-switch.html' with {
			'attributes': menu_attributes.addClass(languages_classes),
      } only %}
    </div>
  {% if not navbar_attributes.hasClass('container') %}
  </nav>
  {% endif %}

</header>